﻿
@font-face {
    font-family: 'Droid_Kufi';
    src:
        url('fonts/Droid-Kufi.woff') format('woff');
        
}
@font-face {font-family:'GE_SS';
    src:url('fonts/GE SS Two Light.woff') format('woff');
}

@font-face {
    font-family: 'Droid';
    src: url('fonts/Droid-Naskh.woff') format('woff');
}

@font-face {font-family:'GE_SS_Medium';
    src:url('fonts/GE SS Two Medium.woff') format('woff');
 
}

@media only screen and (min-device-width: 150px) and  (max-device-width:300px) {
     .external_link { 
        background: url(images/app/mdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -134px; 
        
    }
    .newspaper_icon {
         background: url(images/app/mdpi.png) no-repeat top left;display: inline-block;
         background-position: 0 -209px; 
    }
    .time_icon {
         background: url(images/app/mdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -276px; width: 17px; height: 17px;
    }
    .preferences_expanded {
         background: url(images/app/mdpi.png) no-repeat top left;display: inline-block;
         background-position: 0 -67px; width: 17px; height: 17px;
    }
    .preferences_collapsed {
         background: url(images/app/mdpi.png) no-repeat top left;display: inline-block;
         background-position: 0 0; width: 17px; height: 17px;
    }
}
@media only screen and  (min-device-width:300px) and (max-device-width:600px)  {
 
    
    .external_link { 
        background: url(images/App/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -101px; 
        background-size:25px;
        
    }
    .newspaper_icon {
        background: url(images/app/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -160px; 
        background-size:25px;
    }
    .time_icon {
         background: url(images/app/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -207px; 
        background-size:25px;

    }
    .preferences_expanded {
         background: url(images/app/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -50px; 
        background-size:25px;
    }
    .preferences_collapsed {
           background: url(images/app/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 0px; 
        background-size:25px;
    }
}
@media only screen and (min-device-width:600px) {
   
      .external_link { 
        background: url(images/App/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -78px; background-size:25px;
    }
    .newspaper_icon {
         background: url(images/App/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -126px; background-size:25px;
    }
    .time_icon {
         background: url(images/App/xhdpi.png) no-repeat top left;display: inline-block;
         background-size:25px;
         background-position: 0 -165px;
    }
    .preferences_expanded {
         background: url(images/App/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -39px; 
        background-size:25px;
    }
    .preferences_collapsed {
           background: url(images/App/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -0px; 
        background-size:25px;
    }
}
#MainContainer {
    position: fixed; top: 0px; bottom: 0px;right:0px;left:0px; overflow: scroll; -webkit-overflow-scrolling: touch;
}
#PreferencesMainContainer {
     position: fixed; top: 50px; bottom: 0px;right:0px;left:0px; overflow: scroll; -webkit-overflow-scrolling: touch;padding:5px 5px 5px 5px;
}
#SaveButton {
 height:35px;background-color:#29A8DF;color:#FFFFFF;width:250px;font-family:Droid;font-size:18px;font-weight:700;
}
#SaveButtonBorders {
    border-top:1px solid #34C6E8;border-bottom:1px solid #008FB5;border-right:1px solid #2492C2;border-left:1px solid #2492C2; display:inline-block;margin-top:5px;
}


#StoriesList {width:100%;

}
.small_story {
    width:100%;
}
.story_title {font-size:15px;line-height:150%;color:#333333;text-decoration:none;font-family:Droid;font-weight:500;padding:5px;
}
.external_link_div {
    float:left;margin:0 5px 0 5px;width: 25px; height: 25px;
}
.external_link {width: 25px; height: 25px;
}
.small_story_info {
    margin:5px;width:100%;
}
.small_story_separator {
    width:100%;height:1px;background-color:#A0A0A0;clear:both;margin:5px 0 5px 0;
}
.small_story_newspaper {float:right;font-size:12px;color:#29A9E0;font-family:GE_SS;
}
.small_story_time {font-size:12px;color:#29A9E0;float:right;font-family:GE_SS;
}
.newspaper_icon {
   float:right;margin:0 5px 0 5px;width: 17px; height: 17px;
}
.time_icon {
    margin:0 5px 0 5px;float:right;width: 17px; height: 17px;
}
.news_detail {
    width:33%;float:right;text-align:center;margin:5px 0px 5px 0px;
}
.sources_count {font-size:12px;color:#29A9E0;font-family:GE_SS;
}

.story_summary {font-family:"Droid_Kufi"  ;font-size:14px;line-height:180%;color:#444444;clear:both;margin:5px 0;padding:5px;
}
.red_separator {
    height:1px;background-color:#FF0000;width:100%;clear:both;margin:5px 0;
}

.preferences_section_title {
    font-family:Droid;font-size:18px;color:#333333; background-color:#E3E3E3;height:30px;padding:2px;margin:5px 0;font-weight:600;
}
.preferences_expanded {
    float:left;margin:6px;width: 17px; height: 17px;
}
.preferences_collapsed {
    float:left;margin:6px;width: 17px; height: 17px;
}
.preferences_checkbox {
    font-family:Droid;color:#666666;font-size:16px;font-weight:500;
}