﻿
@font-face {
    font-family: 'Droid_Kufi';
    src:
        url('fonts/Droid-Kufi.woff') format('woff');
        
}

@font-face {font-family:'GE_SS';
    src:url('fonts/GE SS Two Light.woff') format('woff');
  
}

@font-face {font-family:'GE_SS_Medium';
    src:url('fonts/GE SS Two Medium.woff') format('woff');
 
}

@media only screen and (min-device-width: 150px) {
   
    #Logo {
        background: url(images/Mobile/mdpi.png) no-repeat top left 215px 39px ;display: inline-block;
        background-position: 0 -205px;
    }
    #MenuButton {
        background: url(images/Mobile/mdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -371px;
        width: 21px;
        height: 21px;
        float: right;
        margin: 11px 13px 0 0;
    }
     .external_link { 
        background: url(images/Mobile/mdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -134px; width: 21px; height: 21px;
        
    }
}
@media only screen and  (min-device-width:300px) {
 
    #Logo {
        background: url(images/Mobile/hdpi.png) no-repeat top left ;display: inline-block;
       background-position: 0 -155px; 
       background-size:215px;
       
    }
    #MenuButton {
        background: url(images/Mobile/hdpi.png) no-repeat top left ;display: inline-block;
       background-position: 0 -287px; 
       background-size:215px;
    }
    .external_link { 
        background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;height:100%;width:100%;
        background-position: 0 -101px; 
        background-size:215px;
        
    }
    .newspaper_icon {
        background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -342px; 
        background-size:215px;
    }
    .time_icon {
         background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -456px; 
        background-size:215px;

    }
    #FacebookIcon {
         background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -506px; 
        background-size:215px;
    }
    #GoogleIcon {
        background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -572px; 
        background-size:215px;
    }
    #User_Icon {
        background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -693px; 
        background-size:215px;
    }
    #LogoutIcon {
         background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -227px; 
        background-size:215px;
    }
    #PreferencesIcon {
          background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -392px; 
        background-size:215px;
    }
     #SaveButton {
         background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -637px; 
        background-size:215px;
    }
    .preferences_expanded {
         background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -0px; 
        background-size:215px;
    }
    .preferences_collapsed {
           background: url(images/Mobile/hdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -51px; 
        background-size:215px;
    }
}
@media only screen and (min-device-width:6000px) {
    #Logo {
        background: url(images/Mobile/xhdpi.png)  no-repeat top left;display: inline-block;
       background-position: 0px -121px; background-size:215px
    }
      #MenuButton {
        background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
       background-position: 0 -233px; background-size:215px;
    }
      .external_link { 
        background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -78px; background-size:215px;height:100%;width:100%;
    }
    .newspaper_icon {
         background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -274px; background-size:215px;
    }
    .time_icon {
         background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
         background-size:215px;
         background-position: 0 -366px;
    }
        #FacebookIcon {
         background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -405px; 
        background-size:215px;
    }
    #GoogleIcon {
        background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -459px; 
        background-size:215px;
    }
    #User_Icon {
        background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -557px; 
        background-size:215px;
    }
    #LogoutIcon {
         background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -182px; 
        background-size:215px;
    }
    #PreferencesIcon {
          background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -314px; 
        background-size:215px;
    }
    #SaveButton {
         background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -513px; 
        background-size:215px;
    }
    .preferences_expanded {
         background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -0px; 
        background-size:215px;
    }
    .preferences_collapsed {
           background: url(images/Mobile/xhdpi.png) no-repeat top left;display: inline-block;
        background-position: 0 -39px; 
        background-size:215px;
    }
}
#MainContainer {
    position: fixed; top: 50px; bottom: 55px; overflow: scroll; -webkit-overflow-scrolling: touch;padding:5px 5px 5px 5px;
}
#Logo {
    width:215px;height:39px;
}
#MenuButton {
margin: 15px 13px 0 0; float: right;width:21px;height:21px;
}
#SaveButton {
margin: 15px 13px 0 0; float: right;width:21px;height:21px;
}
#Header {
   background-color:#333333;position:fixed;top:0;height:52px;
}
#LowerAd {
    position:fixed;bottom:0;width:320px;height:50px;
}

#StoriesList {width:100%;

}
#Menu {
    background-color:#333333;
}
.login_info {
    height:52px;text-align:center;color:#FFFFFF;font-size:14px;font-family:GE_SS;background-color:#29A8DF;
}
.menu_item {
    display:none;
}
.classification_item {
    height:48px;
}
.selected_classification_item {
    background-color:#4D4D4D;height:48px;
}
#User_Icon {
    height:32px;width:32px; float:right;margin:10px;
}
#FacebookLogin {
    width:98px;background-color:#3B5998;float:left;height:64px;margin:2px 0 2px 1px;
}
#FacebookIcon {
    margin:16px 33px;width:32px;height:32px;
}
#GoogleLogin {
    width:98px;background-color:#DA4733;float:right;height:64px;margin:2px 1px 2px 0;
}
#GoogleIcon {
     margin:16px 33px;width:32px;height:32px;
}

#PreferencesIcon {
    width:29px;height:30px;margin:3px 0 0 0;
}
.LogoutPreferencesDiv {
    width:96px;height:64px;font-family:GE_SS;font-size:15px;color:#B0B0B0;text-align:center;
}
#LogoutIcon {
     width:27px;height:27px;margin:5px 0 0 0;
}
.menu_link {
    text-decoration:none;font-family:GE_SS;font-size:15px;color:#B0B0B0;margin:16px 5px 0 0;display:inline-block;
}
.menu_link_selected {
    text-decoration:none;font-family:GE_SS;font-size:15px;color:#FFFFFF;display:inline-block;margin:16px 5px 0 0;
}
.white_separator {
    width:100%;height:1px;background-color:#4D4D4D;clear:both;
}
.black_separator {
    width:100%;height:1px;background-color:#1A1A1A;clear:both;

}
.small_story {
    width:100%;
}
.story_title {font-family:GE_SS_Medium;font-size:15px;line-height:150%;color:rgb(31,31,13);text-decoration:none;
}
.external_link_div {
    float:left;margin:0 5px 0 5px;width:21px;height:21px;
}
.small_story_info {
    margin:5px;width:100%;
}
.small_story_separator {
    width:100%;height:1px;background-color:#A0A0A0;clear:both;margin:5px 0 5px 0;
}
.small_story_newspaper {float:right;font-family:GE_SS;font-size:12px;color:#29A9E0;
}
.small_story_time {font-family:GE_SS;font-size:12px;color:#29A9E0;float:right;
}
.newspaper_icon {
    width: 17px; height: 17px;float:right;margin:0 5px 0 5px;
}
.time_icon {
    width: 17px; height: 17px;margin:0 5px 0 5px;float:right;
}
.news_detail {
    width:33%;float:right;text-align:center;margin:5px 0px 5px 0px;
}
.sources_count {font-family:GE_SS;font-size:12px;color:#29A9E0;
}

.story_summary {font-family:"Droid_Kufi"  ;font-size:14px;line-height:180%;color:#444444;clear:both;margin:5px 0;
}
.red_separator {
    height:1px;background-color:#FF0000;width:100%;clear:both;margin:5px 0;
}

.preferences_section_title {
    font-family:GE_SS_Medium;font-size:20px;color:#333333; background-color:#E3E3E3;height:30px;padding:2px;margin:5px 0;
}
.preferences_expanded {
    float:left;width:17px;height:17px;margin:6px;
}
.preferences_collapsed {
    float:left;width:17px;height:17px;margin:6px;
}
.preferences_checkbox {
    font-family:GE_SS_Medium;color:#666666;font-size:16px;
}