﻿
@font-face {font-family:'GE_SS';
    src:url('fonts/GE SS Two Light.woff') format('woff');
}
@font-face {font-family:'GE_SS_Bold';
    src:url('fonts/GE SS Two Bold.woff') format('woff');
}
@font-face {font-family:'GE_SS_Medium';
    src:url('fonts/GE SS Two Medium.woff') format('woff');
}
@font-face {font-family:'Droid';
    src:url('fonts/Droid-Naskh.woff') format('woff');
}
.story {
     background-color:rgb(255,255,255); 
          float:right;
         height:auto;  margin:5px 10px 5px 10px; box-shadow:-1px 0px 2px 1px #A3A3A3 ;
         
}
#StoriesList .story:nth-child(odd) {clear:both;}


.story:after {
  clear: both;
}
.story_header {
    border-bottom:1px #E4E4E4 solid;background-color:#EFEFEF; height:25px;
}
.story_top_separator {
    height:1px; background-color:#29A9E0;
}
.story_bottom_separator {
    height:1px; background-color:#EB1C24; width:100%;margin:5px 0 5px 0;
}
.story_source {
     margin:0 auto;  width:35%;font-family:GE_SS;font-size:14px;height:22px;text-align:right;padding-top:5px;color:#4D4D4D;margin-right:5px
}
    .story_source:hover {
        cursor:pointer;
    }
.story_source_selected {
     margin:0 auto;  width:35%;font-family:GE_SS;font-size:14px;color:#29A9E0;height:22px;text-align:right;margin-right:5px;padding-top:5px;
}

.story_sources {
    display:none;width:100%;position:relative; text-align:center;float:none;background-color:#EFEFEF;

}
.sources_count_text {
    margin-top:4px;
}
.story_sources_number_closed {
    font-family:GE_SS_Bold;font-size:12px;color:#ffffff;background-color:#29A9E0;float:right; width:23%; text-align:center; height:100%;
}
    .story_sources_number_closed:hover {
        cursor:pointer;
    }
        .story_sources_number_closed:hover .expand_arrow {
            background: url(images/BlueArrowHover.gif) no-repeat top left;width: 8px; height: 5px; display: inline-block;margin:0 4px 0 0;
        }
.story_sources_number_open {
    font-family:GE_SS_Bold;font-size:12px;color:#808080;background-color:#EFEFEF;float:right; width:23%; text-align:center; height:100%;
}
    .story_sources_number_open:hover {
        cursor:pointer;
    }
     .story_sources_number_open:hover .collapse_arrow {
            background: url(images/GrayArrowHover.gif) no-repeat top left;width: 8px; height: 5px; display: inline-block;margin:0 4px 0 0;
        }
.all_sources_div {
    width:100%; height:24px;border-bottom:1px #E4E4E4 solid;border-top:1px #E4E4E4 solid; text-align:center;clear:both;background-color:#29A9E0;
}
.all_sources_link {
    font-family:GE_SS;font-size:14px;color:#FFFFFF;text-decoration:none;
}

.selected_article_source {
    float:right; width:38%;text-align:right;font-family:GE_SS;font-size:14px;color:#4D4D4D;-webkit-text-stroke-width: .5px;margin: 3px 5px 0 0;
}
  
.expand_arrow {
    background: url(images/sprites.png) no-repeat top left;background-position: 0 -1426px; width: 8px; height: 5px;display: inline-block;margin:0 4px 0 0;
}
.collapse_arrow {
    background: url(images/sprites.png) no-repeat top left; background-position: 0 -1536px; width: 8px; height: 5px;display: inline-block;margin:0 4px 0 0;
}
.article_image {
    width:100%;
}
.image_div {
    height:160px; overflow:hidden; margin:10px;
}
.story_date {
    float:left; width:36%;text-align:left;font-family:GE_SS;font-size:14px;color:#4D4D4D;-webkit-text-stroke-width: .5px;margin-left:5px;
}
.story_date_text {
    margin-top:3px;
}
.time_image {
    background: url(images/sprites.png) no-repeat top left;background-position: 0 -1128px; width: 15px; height: 15px;display: inline-block;margin:2px 0px 0 3px;
}
.article_title_div {
    margin:10px;
}
.article_title {color:#1F1F1F; font-family:GE_SS_Medium; text-decoration:none;font-size:15px;-webkit-text-stroke-width: .2px; line-height:170%;
}
.disclosure_icon {
    background: url(images/sprites.png) no-repeat top left;display: inline-block;background-position: 0 -1776px; width: 21px; height: 21px;float:left;
    }
.article_summary {
    font-family:Droid; font-size:14px;color:#444444;-webkit-text-stroke-width: .4px;line-height:170%;max-height:165px;margin:10px;
}
.large_article_summary {
    font-family:Droid; font-size:14px;color:#444444;-webkit-text-stroke-width: .4px;line-height:170%;margin-top:10px;overflow:hidden;
}
.sharing_div {
    width:100%;height:25px; text-align:center;margin:0 0 3px 0;opacity:0; padding:0 3px 0 3px;
}
.social_media_button {
    float:right;width:33%
}
.facebook_share_icon {
    background: url(images/sprites.png) no-repeat top left;display: inline-block;background-position: 0 -221px; width: 45px; height: 20px;
}
.fb-like {
    max-width:100px; 
}
.twitter {
  max-width:100px;margin:0 15px 0 0;
}


#LeftAd {
  float: left;
	top:142px;
	position: fixed;
	width: 160px;
    height:600px;
    
}
#RightAd {
     float: right;
    top:142px;
	position: fixed;
	width: 160px;
    height:600px;
    
}
.main_container {
    width:1100px;margin:auto;
    
    
}
.profile_image {
    background: url(images/sprites.png) no-repeat top left; background-position: 0 -1349px; width: 26px; height: 27px;  display: inline-block;float:right;margin: 0 2px 0 2px;
}
.logout_icon {
    background: url(images/sprites.png) no-repeat top left;background-position: 0 -907px; width: 26px; height: 28px; display: inline-block;float:right;margin: -3px 2px 0 2px;
}
#content {
  text-align:center;
  margin-left: 167px;margin-right:167px; 
  overflow-y: auto;
  
}
#Toolbar_Buttons {
       height:35px;border-bottom:0px solid #000000;width:1100px; margin:0 auto;
}
#Header {
    width:100%; background-color:#363636;position:relative; 
}
#Logo {background: url(images/sprites.png) no-repeat top left;background-position: 0 -687px; width: 220px; height: 90px;display: inline-block; float:left;margin:0px 0 0 20px;
}
#TopAd {
    margin:5px 7px 0 0px ; height:90px; float:right;
}
.LoginDiv {
    display:none; z-index:1;position:relative; height:97px; width:160px; background-color:#fff;margin:27px 0 0 0 ;font-family:GE_SS_Medium; text-align:center;border:solid 1px #000000;font-size:18px; color:#969696;
}
#AllButton {
    background: url(images/sprites.png) no-repeat top left;background-position: 0 0; width: 22px; height: 15px;display: inline-block;margin:12px 0 0 0;float:right; text-align:right;
}

#AllButtonSelected {
    background: url(images/sprites.png) no-repeat top left;background-position: 0 -985px; width: 22px; height: 15px;display: inline-block;margin:12px 0 0 0;float:right; 
}
#GoogleLoginButton {
    background: url(images/sprites.png) no-repeat top left;background-position: 0 -489px; width: 77px; height: 49px;display: inline-block;
}
    #GoogleLoginButton:hover {
        background: url(images/sprites.png) no-repeat top left;background-position: 0 -588px; width: 77px; height: 49px;display: inline-block;margin:0 0px 0 0;
    }
#FacebookLoginButton { 
    background: url(images/sprites.png) no-repeat top left;background-position: 0 -291px; width: 77px; height: 49px;display: inline-block;
}
    #FacebookLoginButton:hover {
        background: url(images/sprites.png) no-repeat top left;background-position: 0 -390px; width: 77px; height: 49px;display: inline-block;
    }
.toolbarButton {
float:right; text-align:right; font-size:15px; font-family:GE_SS; color:#B1B1B1;margin:0 25px 0 0; height:35px;
}
.toolbarButton:hover {
float:right; text-align:right; font-family:GE_SS; color:white;margin:0 25px 0 0;border-bottom:2px solid #29A9E0;font-size:15px; 
}
.toolbarButtonSelected {
float:right; text-align:right; font-size:15px; font-family:GE_SS; color:#B1B1B1;margin:0 20px 0 0; height:35px;border-bottom:2px solid #29A9E0;
}
.toolbar_link {
    text-decoration:none;color:#B1B1B1; margin:12px 0 0 0;float:right; text-align:right;
}
.toolbar_link_selected {
    color:#ffffff;text-decoration:none;margin:12px 0 0 0;float:right; text-align:right;

}

.preferences_link_div {
    height:37px;width:100%;
}
.preferences_div_link {
    font-family:GE_SS; font-size:15px; text-decoration:none;color: #29A8DF;float:right;margin-top:8px;
}
.preferences_icon {
     background: url(images/sprites.png) no-repeat top left;background-position: 0 -1050px; width: 26px; height: 28px;display: inline-block;float:right;margin: -8px 2px 0 2px;
}
.login_button {
    float:right;  text-align:center;  color:#B1B1B1;border-top-left-radius:3px;border-top-right-radius:3px; height:27px; width:160px;
     border-left:1px solid #666666;border-top:1px solid #666666; border-right:1px solid #666666;margin:8px 6px 0 0; 
}
    .login_button:hover {
        cursor:pointer;
    }
.login_button_text {
    float:right; text-align:right; font-size:15px; font-family:GE_SS,Arial; color:#B1B1B1;margin:5px 6px 0 6px; height:27px;
}

.login_title {
    background-color:rgb(50,50,50);color:white;font-family:GE_SS; width:100%;
}
#BottomSeparator {
    height:2px;border-top:1px solid #666666;background-color:#363636;
}

.large_story {
    width:600px;margin:10px 10px 10px 10px;box-shadow:-1px 0px 2px 1px #A3A3A3 ;background-color:#FFFFFF;
}
.large_story_top_border {
    height: 1px;
    background-color: #29A9E0;
}
.large_story_newspaper {
    float:right;font-family:GE_SS;font-size:14px;color:#4D4D4D; margin:4px 10px 0 0 ;
}
.large_story_date {
    float:left;font-family:GE_SS;font-size:14px;color:#4D4D4D;margin:4px 0px 0 6px ;
}
.large_article_image {
    width:240px;float:left;position:relative;
}
.red_separator {
    height:1px;background-color:#FF0000;
}
.twitter-large {
    margin:20px 0 20px 0;
}
.preferences_section_title {
    text-align:center; font-family:GE_SS; font-size:30px;color:#666666;margin:25px auto 25px auto;clear:both;
}
.preferences_checkbox {
width:190px; float:right;font-family:GE_SS_Bold;font-size:15px;color:#666666; margin:20px auto 20px auto;
}
#FollowOnTwitter { float:right;  background: url(images/sprites.png) no-repeat top left; background-position: 0 -1193px; width: 28px; height: 28px;margin:5px 30px 0 0;
}
#FollowOnTwitter:hover {background-position: 0 -1271px; width: 28px; height: 28px;
}
#FollowOnFacebook { float:right;  background: url(images/sprites.png) no-repeat top left;  background-position: 0 -65px; width: 28px; height: 28px; margin:5px 8px 0 0;
}
#FollowOnFacebook:hover { background-position: 0 -143px; width: 28px; height: 28px;
    }
#SmallLogo { float:right;  background: url(images/sprites.png) no-repeat top left; background-position: 0 -827px; width: 106px; height: 30px;margin:5px 30px 0 0; display:none;
}