﻿@model Newsery.DataTypes.Story
@using Newsery.DataTypes;
@{
    ViewBag.Title = "Newsery-" + Model.Articles[0].Title;
    Layout = "~/Views/Shared/_ArabicLayout.app.cshtml";
}
<div style="text-align:right; ">
@foreach (Article a in Model.Articles)
{
    @Html.Partial("ArabicStoryPartialLarge.mobile", a);
    
    <div style="background-color:#FFFFFF;height:4px;width:100%;"></div>
<div style="background-color:#E3E3E3;height:1px;width:100%;margin-bottom:15px;"></div>
}
    </div>


