﻿@model Newsery.DataTypes.Story
@using Newsery.DataTypes;
@{
    ViewBag.Title = "Newsery-" + Model.Articles[0].Title;
    Layout = "~/Views/Shared/_ArabicLayout.mobile.cshtml";
}
<div style="text-align:right; ">
@foreach (Article a in Model.Articles)
{
    @Html.Partial("ArabicStoryPartialLarge", a);
    
    <div style="background-color:#FFFFFF;height:4px;width:100%;"></div>
<div style="background-color:#E3E3E3;height:1px;width:100%;margin-bottom:15px;"></div>
}
    </div>


@section LowerAd
{
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-5787753563620608";
    google_ad_slot = "7302734051";
    google_ad_width = 320;
    google_ad_height = 50;
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

}