﻿@model Newsery.DataTypes.Story
@using Newsery.DataTypes;

@{
    ViewBag.Title = "Newsery-" + Model.Articles[0].Title;
    Layout = "~/Views/Shared/_ArabicLayout.cshtml";
}


<div style="float:right;text-align:right; ">
@foreach (Article a in Model.Articles)
{
    @Html.Partial("ArabicStoryPartialLarge", a);
}
    </div>
<div style="float:right;margin-top:10px;">
    @{
      string sharingurl = Url.Action("Index", "Story", new {country="مصر" ,storyId=Model.Id.ToString()},"http");
      <iframe src="//www.facebook.com/plugins/like.php?href=@sharingurl&amp;width=65&amp;height=65&amp;colorscheme=light&amp;layout=box_count&amp;action=like&amp;show_faces=false&amp;send=false&amp;appId=547996471923788" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:65px;" allowTransparency="true"></iframe>
     <div><a href="https://twitter.com/share" class="twitter-share-button twitter-large" data-url="@sharingurl" data-lang="ar"  	data-count="vertical" >غرد</a></div>
        <div class="g-plusone" data-size="tall" data-href="@sharingurl"></div>
    }
</div>





@section TopAd
{
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5787753563620608"
     data-ad-slot="3403929258"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
}
@section LeftAd
{
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-5787753563620608"
     data-ad-slot="6357395652"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
}
@section RightAd
{
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-5787753563620608"
     data-ad-slot="7834128856"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    }
 
@*Twitter sharing code*@
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
@*google plus sharing code*@
<script type="text/javascript">
    window.___gcfg = { lang: 'ar' };

    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>