﻿@using Newsery.Website;
<!DOCTYPE html>

<html lang="ar">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="أهم الأخبار من كل الصحف الإلكترونية" />
    <meta name="keywords" content="مصر,أخبار,أنباء,سياسة,رياضة,إقتصاد,ثقافة" />
    <meta charset="utf-8" />

    <link href="@Url.Content("~/Content/Arabic.css")" rel="stylesheet" type="text/css" />
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon"/>
    <script src="/Scripts/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>


    <title>@ViewBag.Title</title>
</head>
<body dir="rtl" style="margin: 2px 0 0 0; background-color: #EFEFEF;">
    <div id="Header">
        <div style="height: 95px; width: 1100px; margin: 0 auto;">
            <a id="Logo" href="@Url.Action("Index", "Home", null, "http")" title="الصفحة الرئيسة"></a>
            <div id="TopAd">@RenderSection("TopAd", false)</div>
        </div>

    </div>
    <div id="ToolBar" style="background-color: #363636;">
        <div style="border-bottom:1px solid #000000; width:100%">
        <div id="Toolbar_Buttons">
            @if (SessionManager.GetLoggedInUser() == null)
            {
                <div class="login_button" id="Login_Button_Anonymous">
                    <span class="login_button_text">التسجيل</span><span class="profile_image"></span><span class="login_button_text">الدخول</span>
                    <div class="LoginDiv" >
                        <div style="margin:10px 0;">الدخول عن طريق</div>
                        
                        <a href="@Url.Action("Facebook", "Login", null, "https")" style="float:right;margin-right:3px;"><span id="FacebookLoginButton"></span></a>
                       <a href="@Url.Action("Google", "Login", null, "https")" style="float:right;" ><span id="GoogleLoginButton"></span></a>
                    </div>
                </div>
            }
            else
            {
                Newsery.DataTypes.User loggedUser = SessionManager.GetLoggedInUser();
                <div class="login_button" id="Login_Button_Logged">
                    <span class="profile_image"></span><span style="float: right; text-align: right; font-size: 15px; font-family: GE_SS; color: #B1B1B1; margin: 5px 2px 0 2px; height: 27px;">@loggedUser.Name</span>
                    <div class="LoginDiv" style="height: 75px;">
                        <div class="preferences_link_div"><a href="@Url.Action("Index", "Preferences", null, "http")" class="preferences_div_link"><span class="preferences_icon"></span>إعدادات الأخبار</a></div>
                        <div style="height: 1px; background-color: #E4E4E4"></div>
                        <div class="preferences_link_div"><a href="@Url.Action("Logout", "Login", null, "https")" class="preferences_div_link"><span class="logout_icon"></span>تسجيل الخروج</a></div>
                    </div>
                </div>
            }
            @if (ViewBag.SelectedTag == "All")
            {
                <div class="toolbarButtonSelected"><a href="@Url.Action("All", "Home", new { country = SessionManager.GetCurrentCountry() })" title="أخباري المخصصة"><span id="AllButtonSelected"></span></a></div>
            }
            else
            {
                <div class="toolbarButton"><a href="@Url.Action("All", "Home", new { country = SessionManager.GetCurrentCountry() })" title="أخباري المخصصة"><span id="AllButton"></span></a></div>
            }
            @{
                string currentCountry = SessionManager.GetCurrentCountry();
                List<string> Tags = SessionManager.GetTagsByCountry(currentCountry);
                foreach (string t in Tags)
                {
                    if (ViewBag.SelectedTag == t)
                    {
                <div class="toolbarButtonSelected"><a href="@Url.Action("Tag", "Home", new { country = SessionManager.GetCurrentCountry(), tag = t })" class="toolbar_link_selected">@t</a></div>
                    }
                    else
                    {
                <div class="toolbarButton"><a href="@Url.Action("Tag", "Home", new { country = SessionManager.GetCurrentCountry(), tag = t })" class="toolbar_link">@t</a></div>
                    }
                }
            }
            <a id="FollowOnTwitter" href="https://twitter.com/NewseryArabic" title="تابعنا علي تويتر" target="_blank"></a>
            <a id="FollowOnFacebook" href="http://www.facebook.com/newseryarabic" title="تابعنا علي فيسبوك" target="_blank"></a>
            <a id="SmallLogo" href="@Url.Action("Index", "Home", null, "http")" title="الصفحة الرئيسية"></a>
            
        </div>
            </div>
        <div id="BottomSeparator"></div>

    </div>
    <div class="main_container" id="MainContainer">


        <div id="MiddleSection" style="clear: both;">
            <div id="LeftAd">

                @RenderSection("LeftAd", false)
            </div>
            <div id="content">
                @RenderBody()

            </div>

            <div id="RightAd">
                @RenderSection("RightAd", false)
            </div>
        </div>
        @*Class to set the size of the main container to the same size of its contents (which are float)**@
        <div style="clear: both;"></div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

	@*GET BROWSER WINDOW width*@
            var windowWidth = $(window).width();
            var mainContainerWidth = $('#MainContainer').width();
            var margin = (windowWidth - mainContainerWidth) / 2 + 7;
	@*SET absolute position of right and left ad*@
            $('#RightAd').css('right', margin);
            $('#LeftAd').css('left', margin);

	@*ON RESIZE OF WINDOW*@
            $(window).resize(function () {
                //GET BROWSER WINDOW width
                var windowWidth = $(window).width();
                var mainContainerWidth = $('#MainContainer').width();
                var margin = (windowWidth - mainContainerWidth) / 2 + 7;
	    @*SET absolute position of right and left ad*@
	    $('#RightAd').css('right', margin);
	    $('#LeftAd').css('left', margin);

	});

        });
    </script>
    @*google analytics asynchronous script*@
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-42590272-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script>
        var opening = false, closing = false, loginDivOpen = false;
        $(function () {
            
            var loginDiv = $('div.LoginDiv');
            $('div.login_button').hover(function () {
                if (opening || closing || loginDivOpen)
                    return;
                opening = true;
                var rightAdTop = $('#RightAd').position().top;
                $('#RightAd').animate({ top: rightAdTop + loginDiv.height() }, 300, function () { opening = false; loginDivOpen = true; });
                loginDiv.slideDown(300);
                
            }, function () {
                if (closing || opening || !loginDivOpen)
                    return;
                closing = true;
                var rightAdTop = $('#RightAd').position().top;
                $('#RightAd').animate({ top: rightAdTop - loginDiv.height() }, 300, function () { closing = false; loginDivOpen = false; });
                loginDiv.slideUp(300);
                
            });
        });

        // grab the initial top offset of the navigation
        var initalToolbarOffsetTop = $('#ToolBar').offset().top;
        var toolbarHeight = $('#ToolBar').height();
       @*The function the modifies the top position of the toolbar and the ads when the user scrolls*@
        var StickyNavigation = function () {
            var scrollTop = $(window).scrollTop();
            @* if we've scrolled more than the navigation, change its position to fixed to stick to top,
             otherwise change it back to relative*@
            if (scrollTop > initalToolbarOffsetTop) {
                $('#ToolBar').css({ 'position': 'fixed', 'top': 0, 'width': '100%' });
                $('#SmallLogo').slideDown(200);

            } else {
                $('#ToolBar').css({ 'position': 'relative' });
                $('#SmallLogo').slideUp(200);
            }
            var currentToolbarOffsetTop = $('#ToolBar').offset().top;
          
            var adTopMargin = currentToolbarOffsetTop + toolbarHeight - scrollTop;
            if (loginDivOpen) {
                $('#RightAd').css({ 'top': adTopMargin + 2 + $('div.LoginDiv').height() });
            }
            else
                $('#RightAd').css({ 'top': adTopMargin + 2 });
            $('#LeftAd').css({ 'top': adTopMargin + 2 });
        };

        // run our function on load
        StickyNavigation();

        // and run it again every time you scroll
        $(window).scroll(function () {
            StickyNavigation();
        });
    </script>
</body>
</html>
