﻿@using Newsery.Website;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="آخر الأخبار من كل الصحف الإلكترونية" />
    <meta name="keywords" content="مصر,أخبار,أنباء,سياسة,رياضة,إقتصاد,ثقافة" />
    <meta charset="utf-8" />

    <link href="@Url.Content("~/Content/ArabicMobile.css")" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-2.0.3.min.js" type="text/javascript"></script>
    <title>@ViewBag.Title</title>
</head>
<body dir="rtl" style="max-width: 600px; background-color: #EFEFEF;margin:0px;">
    <div id="Menu" style="position: fixed; bottom: 0px; top: 0px; overflow: scroll;">
        @if (SessionManager.GetLoggedInUser() == null)
        {
            <div class="login_info menu_item" ><div style="height:100%;padding-top:20px;">الدخول عن طريق</div></div>
            <div class="menu_item black_separator"></div>
            <div class="menu_item white_separator"></div>
            <a id="FacebookLogin" href="@Url.Action("Facebook", "Login", null, "https")" class="menu_item">
                <div id="FacebookIcon"></div>
            </a>
            <a href="@Url.Action("Google", "Login", null, "https")" id="GoogleLogin" class="menu_item">
                <div id="GoogleIcon"></div>
            </a>
            <div style="float: left;" class="menu_item"><a class="google_login"></a></div>
            <div class="menu_item black_separator"></div>
            <div class="menu_item white_separator"></div>
        }
        else
        {
            Newsery.DataTypes.User loggedUser = SessionManager.GetLoggedInUser();
            <div class="login_info menu_item">
                <div id="User_Icon" class="menu_item"></div>
                <div style="float: right; height: 52px; width: 1px; background-color: #333333;" class="menu_item"></div>
                <div class="menu_item" style="padding-top: 20px;">@loggedUser.Name</div>
            </div>
        }
        @if (ViewBag.SelectedTag == "All")
        {
            <div class="menu_item selected_classification_item"><a href="@Url.Action("All", "Home", new { country = SessionManager.GetCurrentCountry() })" class="menu_link_selected" title="أخباري المخصصة">الرئيسية</a></div>
        }
        else
        {
            <div class="menu_item classification_item"><a href="@Url.Action("All", "Home", new { country = SessionManager.GetCurrentCountry() })" class="menu_link" title="أخباري المخصصة">الرئيسية</a></div>
        }
        <div class="menu_item black_separator"></div>
        <div class="menu_item white_separator"></div>
        @{
            string currentCountry = SessionManager.GetCurrentCountry();
            List<string> Tags = SessionManager.GetTagsByCountry(currentCountry);
            foreach (string t in Tags)
            {
                if (ViewBag.SelectedTag == t)
                {
            <div class="menu_item selected_classification_item "><a href="@Url.Action("Tag", "Home", new { country = SessionManager.GetCurrentCountry(), tag = t })" class="menu_link_selected">@t</a></div>
                }
                else
                {
            <div class="menu_item classification_item"><a href="@Url.Action("Tag", "Home", new { country = SessionManager.GetCurrentCountry(), tag = t })" class="menu_link">@t</a></div>
                }
                
            <div class="menu_item black_separator"></div>
            <div class="menu_item white_separator"></div>
            }
        }
    </div>
    @if (SessionManager.GetLoggedInUser() != null)
    {
        <div id="Bottom_Div" style="position: fixed; bottom: 0; height:68px;width:198px;background-color:#333333;"class="menu_item">
        <div style="height: 64px; width: 194px; margin: 2px; border: solid 1px #666666; background-color: #4D4D4D"  >
            <a style="float:right;text-decoration:none" href="@Url.Action("Index", "Preferences", null, "http")">
                <div class="LogoutPreferencesDiv" style="width: 96px; height: 64px;">
                    <div id="PreferencesIcon"></div>
                    <div>إعدادات الأخبار</div>
                </div>
            </a>
            <div style="float: right; background-color: #2A2A2A; margin: 1px 0; width: 1px; height: 62px;"></div>
            <div style="float: right; background-color: #666666; margin: 1px 0; width: 1px; height: 62px;"></div>
            <a href="@Url.Action("Logout", "Login", null, "https")" style="float:left;text-decoration:none;">
                <div class="LogoutPreferencesDiv">
                    <div id="LogoutIcon"></div>
                    <div>تسجيل الخروج</div>
                </div>
            </a>
        </div>
            </div>
    }
    <div id="Header">
        <div style="width: 100%; height: 50px;">
            <a href="@Url.Action("Index", "Home", null, "http")" title="الصفحة الرئيسة" style="margin:6px 0 0 6px;width:215px;height:39px; float:left;"><span id="Logo"></span></a>
            <span id="MenuButton"></span>
            <span style="float: right; width: 1px; height: 36px; background-color: #3B3B3B; margin: 7px 13px 0 0;"></span>
            <span style="float: right; width: 1px; height: 36px; background-color: #212121; margin-top: 7px;"></span>
        </div>
        <div style="width: 100%; height: 2px; background-color: #29A8DF;"></div>
    </div>

    <div id="MainContainer">
        @RenderBody()
    </div>
    <div id="LowerAd" data-role="footer" data-position="fixed">
        @RenderSection("LowerAd", false)
    </div>

    <script type="text/javascript">
        var menuWidth = 200;
        var mainContainer = $('div#MainContainer');
        function SetLayout() {
            var windowWidth = $(window).width();
            var bodyWidth = $('body').width();
            var lowerAdWidth = $('div#LowerAd').width();
            var mainContainerMargin = (windowWidth - bodyWidth) / 2;
            var lowerAdMargin = (windowWidth - lowerAdWidth) / 2;
            var divMenu = $('div#Menu');
            var divHeader = $('div#Header');
            var divLowerAd = $('div#LowerAd');
            mainContainer.css('right', mainContainerMargin);
            mainContainer.css('left', mainContainerMargin);
            divMenu.css('right', mainContainerMargin);
            lowerAd.css('left', lowerAdMargin);
            lowerAd.css('right', lowerAdMargin);
            divHeader.css('left', mainContainerMargin);
            divHeader.css('right', mainContainerMargin);
            if ($('#Bottom_Div').length > 0)
            {
                var bottomDiv = $('#Bottom_Div');
                divMenu.css('bottom', bottomDiv.height());
                bottomDiv.css('right', mainContainerMargin);
            }
        }
        $(document).ready(SetLayout);
        $(window).resize(SetLayout);
        var menuOpened = false;
        var menu = $('div#Menu');
        var header = $('div#Header');
        var lowerAd = $('div#LowerAd');


        $('span#MenuButton').click(function () {

            var adLeft = lowerAd.css('left');
            adLeft = parseInt(adLeft);
            var adRight = lowerAd.css('right');
            adRight = parseInt(adRight);
            var left = header.position().left;
            var right = header.css('right');
            right = parseInt(right);
            if (menuOpened === false) {
                menu.css('left', right - menuWidth + $('body').width());
                left = left - menuWidth;
                right = right + menuWidth;
                adLeft = adLeft - menuWidth;
                adRight = adRight + menuWidth;
                header.css({ left: left, right: right });
                mainContainer.css({ left: left, right: right });
                lowerAd.css({ left: adLeft, right: adRight });
                $('.menu_item').show();
                menuOpened = true;

            }
            else {
                left = left + menuWidth;
                right = right - menuWidth;
                menu.css('left', right + $('body').width());
                $('.menu_item').hide();
                adLeft = adLeft + menuWidth;
                adRight = adRight - menuWidth;
                header.css({ left: left, right: right });
                mainContainer.css({ left: left, right: right });
                lowerAd.css({ left: adLeft, right: adRight });
                menuOpened = false;
            }

        }
        );
    </script>

    @*google analytics asynchronous script*@
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-42590272-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
