﻿@using Newsery.Website;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="آخر الأخبار من كل الصحف الإلكترونية" />
    <meta name="keywords" content="مصر,أخبار,أنباء,سياسة,رياضة,إقتصاد,ثقافة" />
    <meta charset="utf-8" />

    <link href="@Url.Content("~/Content/App 0.0.0.6.css")" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-2.0.3.min.js" type="text/javascript"></script>
    <title>@ViewBag.Title</title>
</head>
<body dir="rtl" style=" background-color: #EFEFEF;margin:0px;">
    

    <div id="MainContainer">
        @RenderBody()
    </div>
    

  

    @*google analytics asynchronous script*@
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-42590272-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
