﻿@model Newsery.DataTypes.Story

<div class="small_story">
    <div>
        <div class="external_link_div"><a href="@Model.Articles[0].Url" target="_blank" ><span class="external_link"></span></a></div>
        <div >
            @{
                string sharingurl = Url.Action("Index", "Story", new { country = "مصر", storyId = Model.Id.ToString() }, "http"); 
            }
            <a href="@sharingurl" class="story_title" target="_blank">@Model.Articles[0].Title</a>
        </div>
    </div>
    @{
        string time;
        int totalHoursElapsed = (int)(DateTime.UtcNow - Model.Date).TotalHours;
        if (totalHoursElapsed > 24)
        {
            time = Model.Date.ToString("dd MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("ar-Eg"));
        }
        else if (totalHoursElapsed > 0)
        {
            if (totalHoursElapsed == 1)
            {
                time = "منذ ساعة";
            }
            else if (totalHoursElapsed == 2)
            {
                time = "منذ ساعتان";
            }
            else if (totalHoursElapsed > 2 && totalHoursElapsed < 11)
            {
                time = " منذ " + totalHoursElapsed.ToString() + " ساعات ";
            }
            else
            {
                time = "منذ " + totalHoursElapsed.ToString() + " ساعة";

            }
        }
        else
        {
            int totalMinutesElapsed = (int)(DateTime.UtcNow - Model.Date).TotalMinutes;
            time = " منذ " + totalMinutesElapsed.ToString() + " دقيقة";
        }
    }
    <div class="small_story_info">
        <div class="news_detail"><div class="newspaper_icon"></div><div class="small_story_newspaper">@Model.Articles[0].NewsPaper</div></div>
        <div class="news_detail"><div class="time_icon"></div><div class="small_story_time">@time</div></div>
        <div class="news_detail">
            @{
                string stringCount = Model.Articles.Count.ToString();
                if (Model.Articles.Count > 2 && Model.Articles.Count < 11)
                {
                <div class="sources_count">&nbsp;(@stringCount)&nbsp; مصادر  </div>
                }
                else
                {
                <div class="sources_count">&nbsp;(@stringCount)&nbsp; مصدر</div>
                }
            }
        </div>
    </div>
    <div class="small_story_separator"></div>
</div>

