﻿@model Newsery.DataTypes.Article
 @{
        string time;
        int totalHoursElapsed = (int)(DateTime.UtcNow - Model.Date).TotalHours;
        if (totalHoursElapsed > 24)
        {
            time = Model.Date.ToString("dd MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("ar-Eg"));
        }
        else if (totalHoursElapsed > 0)
        {
            if (totalHoursElapsed == 1)
            {
                time = "منذ ساعة";
            }
            else if (totalHoursElapsed == 2)
            {
                time = "منذ ساعتان";
            }
            else if (totalHoursElapsed > 2 && totalHoursElapsed < 11)
            {
                time = " منذ " + totalHoursElapsed.ToString() + " ساعات ";
            }
            else
            {
                time = "منذ " + totalHoursElapsed.ToString() + " ساعة";

            }
        }
        else
        {
            int totalMinutesElapsed = (int)(DateTime.UtcNow - Model.Date).TotalMinutes;
            time = " منذ " + totalMinutesElapsed.ToString() + " دقيقة";
        }
    }

<div class="external_link_div"><a href="@Model.Url" target="_blank"><span class="external_link"></span></a></div><div class="story_title">@Model.Title</div>
        <div style="float:right;margin:5px;"><span class="newspaper_icon"></span><span class="small_story_newspaper">@Model.NewsPaper</span></div>
        <div style="float:left;margin:5px;" ><span class="time_icon"></span><span class="small_story_time">@time</span></div>
<div class="red_separator"></div>
<div class="story_summary">@Model.Summary</div>
