﻿@model Newsery.DataTypes.Story
@using Newsery.DataTypes
@{
    string divClass;
    if (ViewData["Direction"].ToString() == "right")
    {divClass = "story right_story";}
    else { divClass = "story left_story"; }
}
<div class="@divClass">
    <div class="story_top_separator"></div>
    <div>
        @{
            string stringCount = Model.Articles.Count.ToString();
            string date;
            int totalHoursElapsed = (int)(DateTime.UtcNow - Model.Date).TotalHours;
            if (totalHoursElapsed>24)
            {
                date = Model.Date.ToString("dd MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("ar-Eg"));
            }
            else if (totalHoursElapsed>0)
            {
                if (totalHoursElapsed==1)
                {
                    date = "منذ ساعة";
                }
                else if (totalHoursElapsed==2)
                {
                    date = "منذ ساعتان";
                }
                else if (totalHoursElapsed>2 && totalHoursElapsed<11)
                {
                    date = " منذ "+totalHoursElapsed.ToString()+" ساعات ";
                }
                else
                {
                    date = " منذ " + totalHoursElapsed.ToString() + " ساعة";
                    
                }
            }
            else
            {
                int totalMinutesElapsed = (int)(DateTime.UtcNow - Model.Date).TotalMinutes;
                date = "منذ " + totalMinutesElapsed.ToString() + " دقيقة";
            }
            <div class="story_header">
                <div class="selected_article_source">@Model.Articles[0].NewsPaper</div>
                @{
                    if (Model.Articles.Count > 2 && Model.Articles.Count < 11)
                    {
                    <div class="story_sources_number story_sources_number_closed"><div class="sources_count_text">&nbsp;(@stringCount)&nbsp; مصادر  <span  class="arrow expand_arrow"></span></div></div>
                    }
                    else
                    {<div class="story_sources_number story_sources_number_closed"><div class="sources_count_text">&nbsp;(@stringCount)&nbsp; مصدر<span  class="arrow expand_arrow"></span></div></div>
                    }
                }
                <div class="story_date"><div class="story_date_text">@date  &nbsp;  &nbsp;  <span class="time_image"></span></div></div>

            </div>
            <div class="story_sources">
                @for (int i = 0; i < Model.Articles.Count; i++)
                {
                    if (i > 5)
                    {
                        break;
                    }
                    Article a = Model.Articles[i];
                    string summary;
                    if (a.Summary.Length > 350)
                    {
                        summary = a.Summary.Substring(0, 350);
                        summary += " ...";
                    }
                    else
                    {
                        summary = a.Summary;
                    }
                    if (i == 0)
                    {
                    <div class="story_source_selected" style="float:right;" data-summary="@summary" data-title="@a.Title" data-url="@a.Url" data-image-url="@a.MainImageUrl">&bull;&nbsp;@a.NewsPaper</div>
                    }
                    else if (i % 2 == 0)
                    {
                    <div class="story_source" style="float:right;" data-summary="@summary" data-title="@a.Title" data-url="@a.Url" data-image-url="@a.MainImageUrl">&bull;&nbsp;@a.NewsPaper</div>
                    }
                    else
                    {
                    <div class="story_source" style="float:left;" data-summary="@summary" data-title="@a.Title" data-url="@a.Url" data-image-url="@a.MainImageUrl">&bull;&nbsp;@a.NewsPaper</div>
                    }
                }
                @{
                    string sharingurl = Url.Action("Index", "Story", new { country = "مصر", storyId = Model.Id.ToString() }, "http");
                   
                }
                <div class="all_sources_div"><a  href="@sharingurl" class="all_sources_link" target="_blank">كل المصادر</a></div>
            </div>
        
        }
    </div>

    <div class="article">
        @{
            Article firstArticle = Model.Articles[0];
            string firstArticleTitle;
            if (firstArticle.Title.Length>100)
            {
                firstArticleTitle = firstArticle.Title.Substring(0, 100) + "...";
            }
            else
            {
                firstArticleTitle = firstArticle.Title;
            }
            <div class="article_title_div">
            <a class="article_title" href="@firstArticle.Url" target="_blank"><span class="disclosure_icon"></span>@firstArticleTitle</a>
                </div>
            <div class="story_bottom_separator"></div>
            if (firstArticle.MainImageUrl != null && firstArticle.MainImageUrl != "")
            {
            <div class="image_div">
            <img  src="@firstArticle.MainImageUrl" class="article_image"/>
                </div>
            }
            else
            {
                <div class="image_div" style="display:none;">
            <img   class="article_image"/>
                </div>
            }
            string firstArticleSummary;
            if (firstArticle.Summary.Length > 350)
            {
                firstArticleSummary = firstArticle.Summary.Substring(0, 350);
                firstArticleSummary += " ...";
            }
            else
            {
                firstArticleSummary = firstArticle.Summary;
            }
            <p class="article_summary">@firstArticleSummary</p>
            <div class="sharing_div">
                <div class="social_media_button"><a  href="javascript:OpenFacebookSharePopup('https://www.facebook.com/sharer/sharer.php?u=@sharingurl')"> 
<span  class="facebook_share_icon"/> </a></div>
                  <div class="social_media_button" ><iframe allowtransparency="true" frameborder="0" scrolling="no"src="https://platform.twitter.com/widgets/tweet_button.html?url=@sharingurl&lang=en&count=none"style=" height:20px;margin:0 auto; width:75px;"></iframe></div>
                <div class="social_media_button"><div  class="g-plusone" data-annotation="none" data-size="medium" data-href="@sharingurl"></div></div>
            </div>
        }

    </div>
</div>

