﻿@model Newsery.DataTypes.Article

<div class="large_story">
    <div class="large_story_top_border"></div>
    <div class="story_header">
        <div class="large_story_newspaper">@Model.NewsPaper</div>
        @{
         string date;
            int totalHoursElapsed = (int)(DateTime.UtcNow - Model.Date).TotalHours;
            if (totalHoursElapsed>24)
            {
                date = Model.Date.ToString("dd MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("ar-Eg"));
            }
            else if (totalHoursElapsed>0)
            {
                if (totalHoursElapsed == 1)
                {
                    date = "منذ ساعة";
                }
                else if (totalHoursElapsed == 2)
                {
                    date = "منذ ساعتان";
                }
                else if (totalHoursElapsed>2 && totalHoursElapsed<11)
                {
                    date = "منذ "+totalHoursElapsed.ToString()+"ساعات ";
                }
                else
                {
                    date = "منذ " + totalHoursElapsed.ToString() + " ساعة";
                    
                }
            }
            else
            {
                int totalMinutesElapsed = (int)(DateTime.UtcNow - Model.Date).TotalMinutes;
                date = "منذ " + totalMinutesElapsed.ToString() + " دقيقة";
            }
            }
        <div class="large_story_date">@date  &nbsp;  &nbsp;  <span class="time_image"></span></div>
    </div>
    <div style="padding:10px;">
    <div style="margin:5px 0 10px 0;" ><a href="@Model.Url"  target="_blank" class="article_title"><span class="disclosure_icon"></span>@Model.Title</a></div>
    <div class="red_separator"></div>
    <div class="large_article_summary">
        @{
        string summary;
        if (Model.Summary.Length>550)
        {
            summary=Model.Summary.Substring(0,550);
            summary+="...";
        }
        else
        {
            summary = Model.Summary;
        }
        if(Model.MainImageUrl!="") {<img src="@Model.MainImageUrl" class="large_article_image" />}@summary
        }</div>
    </div>
</div>