﻿@model Newsery.Website.PreferencesModel
@{
    ViewBag.Title = "إعدادات الأخبار";
    Layout = "~/Views/Shared/_ArabicLayout.cshtml";
}
<script type="text/javascript">
    function Success()
    {
        $("#updateResult").show(700);
        @*Wait for 3 seconds then redict the user to home page*@
        window.setTimeout(RedirectToHomePage, 3000);
        
    }
    function RedirectToHomePage()
    {
        window.location.replace("@Url.Action("Index", "Home",null,"http")");
    }
    </script>
@{Model.SelectedTags = Model.SelectedTags.OrderBy(t => t.Value).ToList();}
@using (Ajax.BeginForm("Index", "Preferences", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateResult" , OnSuccess="Success" }))
{
    <div style="border-bottom:solid 1px #29A8DF; border-top:solid 1px #29A8DF; height:30px;margin-top:10px; background-color:#FFFFFF;">
        <span style="float:right;font-family:GE_SS;font-size:16px; margin:4px;">إختر تصنيفات الأخبار و مصادر الأخبار التي تهتم بمتابعتها</span>
         <input type="submit" value=" حفظ الإعدادات" style="float:left; height:25px; background-color:#29A8DF; margin:2px 0 auto 10px; color:#FFFFFF; font-family:GE_SS_Bold;font-size:12px;" />
    </div>
    <div style="margin:15pt; height:12pt;"><span id="updateResult" style="font-family:GE_SS_Medium;color:#29A8DF;font-size:13pt; display:none;border:1px solid;border-radius:3px;padding:3pt;"></span></div>
    <div class="preferences_section_title">الأقسام</div>
    <div style="text-align: right; padding:0px 40px 0 0; margin:0 auto; width:600px;" >
        @for (int i = 0; i < Model.SelectedTags.Count; i++)
        {
            <div class="preferences_checkbox">
                @Html.CheckBoxFor(m => m.SelectedTags[i].IsSelected)
                @*Use a hidden field to store the id only since this is the only field needed at the controller's side *@
                @Html.HiddenFor(m => m.SelectedTags[i].Id)
            @Model.SelectedTags[i].Value
            </div>
                        
        }


        <div class="preferences_section_title">مصادر الأخبار</div>

        @{Model.SelectedNewspapers = Model.SelectedNewspapers.OrderBy(n => n.Name).ToList();}
        @for (int i = 0; i < Model.SelectedNewspapers.Count; i++)
        {
            <div class="preferences_checkbox">
                @Html.CheckBoxFor(m => m.SelectedNewspapers[i].IsSelected, new { @class = "tpot" })
                @*Use a hidden field to store the id only since this is the only field needed at the controller's side *@
                @Html.HiddenFor(m => m.SelectedNewspapers[i].Id)
                @Model.SelectedNewspapers[i].Name
            </div>
        

        }
    </div>
    
   
        
}

@section TopAd
{
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5787753563620608"
     data-ad-slot="3403929258"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
}


@section LeftAd
{
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-5787753563620608"
     data-ad-slot="6357395652"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
}
@section RightAd
{
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-5787753563620608"
     data-ad-slot="7834128856"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    }