﻿@model Newsery.Website.PreferencesModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="آخر الأخبار من كل الصحف الإلكترونية" />
    <meta name="keywords" content="مصر,أخبار,أنباء,سياسة,رياضة,إقتصاد,ثقافة" />
    <meta charset="utf-8" />

    <link href="@Url.Content("~/Content/ArabicMobile.css")" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <title>إعدادات الأخبار</title>
</head>
<body dir="rtl" style="max-width: 600px; background-color: #EFEFEF;">
    <script type="text/javascript">
        function Success() {
            $("#updateResult").show();
        @*Wait for 2 seconds then redict the user to home page*@
            window.setTimeout(RedirectToHomePage, 2000);
        }
        function RedirectToHomePage() {
            window.location.replace("@Url.Action("Index", "Home", null, "http")");
    }
    </script>
    @using (Ajax.BeginForm("Index", "Preferences", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateResult", OnSuccess = "Success" }))
    {
        <div id="Header">
            <div style="width: 100%; height: 50px;">
                <a href="@Url.Action("Index", "Home", null, "http")" title="الصفحة الرئيسة" style="margin-top:6px;width:215px;height:39px; float:left;"><span id="Logo"></span></a>
                <input type="submit" id="SaveButton"style="border:0px;"value=""/>
                <span style="float: right; width: 1px; height: 36px; background-color: #3B3B3B; margin: 7px 13px 0 0;"></span>
                <span style="float: right; width: 1px; height: 36px; background-color: #212121; margin-top: 7px;"></span>
            </div>
            <div style="width: 100%; height: 2px; background-color: #29A8DF;"></div>
        </div>

        <div id="MainContainer">
            @{Model.SelectedTags = Model.SelectedTags.OrderBy(t => t.Value).ToList();}

            <div style=" font-family: GE_SS; font-size: 16px; margin: 15px 0;color:#666666;">إختر تصنيفات الأخبار و مصادر الأخبار التي تهتم بمتابعتها</div>
            <div style="margin-bottom:15px; height: 20px;text-align:center;"><span id="updateResult" style="font-family: GE_SS_Medium; color: #29A8DF; font-size: 16px; display: none; border: 1px solid; border-radius: 3px; padding: 3pt;"></span></div>
            <div class="preferences_section_title" id ="SectionsToggle"><span id="SectionsIndicator" class="preferences_expanded"></span>الأقسام</div>
            <div style="text-align: right; padding: 0px 40px 0 0"; id="Sections">
                @for (int i = 0; i < Model.SelectedTags.Count; i++)
                {
                    <div class="preferences_checkbox">
                        @Html.CheckBoxFor(m => m.SelectedTags[i].IsSelected)
                        @*Use a hidden field to store the id only since this is the only field needed at the controller's side *@
                        @Html.HiddenFor(m => m.SelectedTags[i].Id)
                        @Model.SelectedTags[i].Value
                    </div>
                        
                }

                </div>
                <div class="preferences_section_title" id="SourcesToggle"><span id="SourcesIndicator" class="preferences_expanded"></span>مصادر الأخبار</div>

                @{Model.SelectedNewspapers = Model.SelectedNewspapers.OrderBy(n => n.Name).ToList();}
            <div style="text-align: right; padding: 0px 40px 0 0;" id="Sources">
                @for (int i = 0; i < Model.SelectedNewspapers.Count; i++)
                {
                    <div class="preferences_checkbox">
                        @Html.CheckBoxFor(m => m.SelectedNewspapers[i].IsSelected, new { @class = "tpot" })
                        @*Use a hidden field to store the id only since this is the only field needed at the controller's side *@
                        @Html.HiddenFor(m => m.SelectedNewspapers[i].Id)
                        @Model.SelectedNewspapers[i].Name
                    </div>
        

                }
                </div>
            </div>

       
    }

    <script type="text/javascript">
        function SetLayout() {
            var windowWidth = $(window).width();
            var bodyWidth = $('body').width();

            var mainContainerMargin = (windowWidth - bodyWidth) / 2;

            $('div#MainContainer').css('right', mainContainerMargin);
            $('div#MainContainer').css('left', mainContainerMargin);
            $('div#Header').css('left', mainContainerMargin);
            $('div#Header').css('right', mainContainerMargin);
        }
        $(document).ready(SetLayout);
        $(window).resize(SetLayout);
        var sourcesExpanded = true;
        var sectionsExpanded = true;
        $('div#SourcesToggle').click(function () {
            var sourcesIndicator = $('span#SourcesIndicator');
            if (sourcesExpanded) {
                sourcesIndicator.removeClass('preferences_expanded');
                sourcesIndicator.addClass('preferences_collapsed');
                sourcesExpanded = false;
            }
            else {
                sourcesIndicator.removeClass('preferences_collapsed');
                sourcesIndicator.addClass('preferences_expanded');
                sourcesExpanded = true;
            }
            $('div#Sources').toggle();
        });

        $('div#SectionsToggle').click(function () {
            var sectionsIndicator = $('span#SectionsIndicator');
            if (sectionsExpanded) {
                sectionsIndicator.removeClass('preferences_expanded');
                sectionsIndicator.addClass('preferences_collapsed');
                sectionsExpanded = false;
            }
            else {
                sectionsIndicator.removeClass('preferences_collapsed');
                sectionsIndicator.addClass('preferences_expanded');
                sectionsExpanded = true;
            }
            $('div#Sections').toggle();
        });

    </script>

    @*google analytics asynchronous script*@
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-42590272-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
