﻿@{
    Layout = "~/Views/Shared/_ِArabicLayout.cshtml";
    ViewBag.Title = "تسجيل الدخول";
}
    <div class="login_title">
        ربط عن طريق
    </div>
    <div style="height:300px; vertical-align:middle;" >
        <a href="@Url.Action("Facebook","Login")" class="content_centered_vertically"><img src="~/Content/Images/facebook.png" alt="Login using your facebook account" width="64" height="64"/></a>
        <a href="@Url.Action("Google","Login")" class="content_centered_vertically"><img src="~/Content/Images/google.png" alt="Login using your google account" width="64" height="64"/></a>
    </div>
    <div class="login_title"> تسجيل الدخول</div>
    @using (Ajax.BeginForm("EmailAndPassword", "Login", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateValue" }))
    {
    @Html.TextBox("Email");
        <br />
    @Html.Password("Password");
        <div id="updateValue"></div>
    <input type="submit" value="دخول" />
    }


@section TopAd
{

}

@section LeftAd
{
}

@section RightAd
{

}
<!DOCTYPE html>
