﻿@using Newsery.Website;
@{
    ViewBag.Title = "Newsery - " + SessionManager.GetCurrentCountry();
    
    Layout = "~/Views/Shared/_ArabicLayout.cshtml";
}
@*google plus sharing code*@
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'ar', parsetags: 'explicit'}
</script>
<div id="StoriesListRight" style="text-align:right;float:right;width:50%;  ">

    @Html.Partial("ArabicStoryPagePartial")

</div>
<div id="StoriesListLeft" style="text-align:right;float:right;width:50%; "></div>
<div id="Loading" style="margin:30px auto; clear:both; width:56px;height:56px;"></div>
@section TopAd
{
    
    <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display: inline-block; width: 728px; height: 90px"
        data-ad-client="ca-pub-5787753563620608"
        data-ad-slot="1907933655"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
       
}

@section LeftAd
{
    
    <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display: inline-block; width: 160px; height: 600px"
        data-ad-client="ca-pub-5787753563620608"
        data-ad-slot="3783449653"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
        
}

@section RightAd
{
   <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Homepage Right -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-5787753563620608"
     data-ad-slot="2605937656"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
}
<script type="text/javascript">
    var lastLoadedPageId = "";

    var _inCallback = false;

    function LoadStories() {
        if (lastLoadedPageId != "End" && !_inCallback) {
            _inCallback = true;
            $("input.LastStoryId").each(function () {
                lastLoadedPageId = $(this).val();
            });
            $('div#Loading').html('<img src="/Content/Images/loading.gif">');
            $.get(location.pathname + "/next/" + lastLoadedPageId, function (data) {

                if (data && $.trim(data) != '') {
                    $("#StoriesListRight").append(data);
                }
                else {
                    lastLoadedPageId = "End";
                }

                _inCallback = false;
                $('div#Loading').empty();
                BalanceLayout();
                gapi.plusone.go();
            });
        }
    }
    function OpenFacebookSharePopup(url) {
        window.open(url, "Facebook Share","height = 500, width = 500")
    }
    function BalanceLayout()
    {
        var rightDiv = $(document).find("div#StoriesListRight");
        var leftDiv = $(document).find("div#StoriesListLeft");
        var leftDivChildren = rightDiv.find("div.left_story");
        leftDivChildren.remove();
        leftDiv.append(leftDivChildren);
    }

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {

            LoadStories();
            
        }
    });
</script>
<script>
    @* view detailed story sources when number of sources is clicked *@
    $(document).on("click", "div.story_sources_number", function ()
    {
        $(this).toggleClass("story_sources_number_closed");
        $(this).toggleClass("story_sources_number_open");
        var arrow = $(this).find(".arrow");
        arrow.toggleClass("expand_arrow");
        arrow.toggleClass("collapse_arrow");
        var parent = $(this).parents("div.story");
        parent.find(".story_sources").slideToggle(300);
        var firstArticleSource = parent.find(".selected_article_source");
        var date = parent.find(".story_date");
        if (firstArticleSource.css("opacity") > 0) {
            firstArticleSource.fadeTo(300, 0.0);
            date.fadeTo(300, 0);
        }
        else {
            firstArticleSource.fadeTo(300, 1.0);
            date.fadeTo(300, 1.0);
        }
        
    } 
    );
    
    $(document).on("click", "div.story_source", function ()
    {
        
        var title = $(this).attr("data-title");
        var url = $(this).attr("data-url");
        var summary = $(this).attr("data-summary");
        var imageUrl = $(this).attr("data-image-url");
        var parentStory = $(this).parents("div.story");
        var image = parentStory.find("img.article_image");
        var imageDiv = parentStory.find("div.image_div");
        if (imageUrl)
        {
            imageDiv.show();
            image.attr("src", imageUrl);
        }
        else
        {
            imageDiv.hide();
        }
        var alreadySelectedSource = parentStory.find("div.story_source_selected"); 
        alreadySelectedSource.attr("class", "story_source");
        $(this).attr("class", "story_source_selected");
        var articleTitle = parentStory.find(".article_title");
        title = "<span class=\"disclosure_icon\"></span>"+ title;
        articleTitle.html(title);
        articleTitle.prop("href", url);
        var articleSummary = parentStory.find(".article_summary");
        articleSummary.html(summary);
        var selectedArticleSource = parentStory.find("div.selected_article_source");
        selectedArticleSource.html($(this).html());
    }
    );
   
    $(document).on("mouseleave", "div.story", function () {
        $(this).find(".sharing_div").fadeTo(300, 0);
        var firstArticleSource = $(this).find(".selected_article_source");
        var date = $(this).find(".story_date");
        firstArticleSource.fadeTo(300, 1.0);
        date.fadeTo(300, 1.0);
        $(this).find(".story_sources").slideUp(300);
        $(this).find(".arrow").removeClass("collapse_arrow").addClass("expand_arrow");
        $(this).find("div.story_sources_number").removeClass("story_sources_number_open").addClass("story_sources_number_closed");
    }
    );

    $(document).on("mouseenter", "div.story", function () {
        $(this).find(".sharing_div").fadeTo(300,1.0);
    }
);
</script>



<script>
    BalanceLayout();
    gapi.plusone.go();
</script>