﻿@using Newsery.Website;
@{
    ViewBag.Title = "Newsery - " + SessionManager.GetCurrentCountry();
    Layout = "~/Views/shared/_ArabicLayout.mobile.cshtml";
}

    <div id="StoriesList">
        @Html.Partial("ArabicStoryPagePartial.mobile")
    </div>
    <div id="Loading" style="margin:10px auto; clear: both; width: 56px; height: 56px;">
    </div>
    


@section LowerAd
{
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-5787753563620608";
    google_ad_slot = "7302734051";
    google_ad_width = 320;
    google_ad_height = 50;
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

}
<script>
    var lastLoadedPageId = "";
    var _inCallback = false;

    function LoadStories() {
        if (lastLoadedPageId != "End" && !_inCallback) {
            _inCallback = true;
            $("input.LastStoryId").each(function () {
                lastLoadedPageId = $(this).val();
            });
            $('div#Loading').html('<img src="/Content/Images/loading.gif">');
            $.get(location.pathname + "/next/" + lastLoadedPageId, function (data) {

                if (data && $.trim(data) != '') {
                    $("#StoriesList").append(data);
                }
                else {
                    lastLoadedPageId = "End";
                }

                _inCallback = false;
                $('div#Loading').empty();
            });
        }
    }
    $('div#MainContainer').scroll(function () {        
        if ($(this)[0].scrollHeight - $(this).scrollTop() <= $(this).outerHeight())
        {
            LoadStories();
        }
        
    });
</script>
